## We're going to catch right up with the trained model we created in the last tutorial...

In [1]:
import pandas as pd
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

df = pd.read_csv("housing_SF_NY.csv", skiprows=2)

Y = df['in_sf']
X = df.drop('in_sf', axis=1)
validation_size = 0.20
seed = 7

X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)
score = accuracy_score(Y_test, Y_pred)*100
score

83.83838383838383

In [2]:
df.head()

   in_sf  beds  bath    price  year_built  sqft  price_per_sqft  elevation
0      0   2.0   1.0   999000        1960  1000             999         10
1      0   2.0   2.0  2750000        2006  1418            1939          0
2      0   2.0   2.0  1350000        1900  2150             628          9
3      0   1.0   1.0   629000        1903   500            1258          9
4      0   0.0   1.0   439000        1930   500             878         10

In [44]:
#some setup for the next part
from sklearn import model_selection

kfold = model_selection.KFold(n_splits=10, random_state=seed)

seed = 7
num_trees = 1000

## 1,000 Bagger

https://machinelearningmastery.com/ensemble-machine-learning-algorithms-python-scikit-learn/

In [45]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=model, n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold)
print(results.mean())

0.9082692307692308

## Random Forest

In [46]:
from sklearn.ensemble import RandomForestClassifier

max_features = 4
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold)
print(results.mean())

0.9082692307692308

## Boosting

In [48]:
from sklearn.ensemble import AdaBoostClassifier

kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold)
print(results.mean())

0.8852564102564104